<section class="card">
  <article>
    <h2>{{movie.Title}}</h2>
    <picture class="card-img">
      <img src={{movie.image}} alt="" class="poster">
    </picture>
    <p><strong>{{movie.Description}}</strong></p>
    <p>Rating: {{movie.Rating}}</p>
    <p>Duration: {{movie.Duration}}</p>
    <p>Released date: {{movie.Released_date}}</p>
    <span class="genre" *ngFor="let genre of movie.Genre">{{genre}}</span>
  </article>
  <article class="card-action">
    <button (click)="detailMovie(movie.id)" class="btn-detail">
      Detail movie
    </button>
    <button (click)="AddFavorites(movie.id)" class="btn-detail"
      [ngClass]="{'btn-favorite': isFavorite(movie.id)}">
      Favorite
    </button>
  </article>

</section>
