.header {
  padding-bottom: 15px;
}
.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.custom-select {
  min-width: 350px;
  position: relative;
}

.order-select {
  appearance: none;
  width: 40%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}



