:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark light;
  color:  rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 1rem;
  padding: 0;
}

h1 {
  color: aliceblue;
}
